<tr id="row_{{.Image}}">
    <td>
        <img src="/{{.Image}}" id="{{.Image}}" width="300vw" onclick="imageZoom(id)">
    </td>
    <td>
        <button type="button" onclick="delImg({{.Image}})" class="noimage" style="display: none">Delete</button>
    </td>
</tr>