<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="icon"
          type="image/png"
          href="/favicon.png" />
    <meta name="theme-color" content="#282a36" />
    <title>Kép feltöltés</title>
</head>
<body>
    <script>
        window.users = {{.Users}};
    </script>
    <div>
        <h1>Kép feltöltés</h1>
        <p>Eddig {{.Imagenum}} képet töltöttek fel.</p>
    </div>
    <div>
        <a href="/mindenki"><h2>Összes kép</h2></a>
        <br>

        <h2>Képek emberenként</h2>
        <input id="name" name="name" type="text" autocomplete="off" placeholder="Keresés">
        <ul id="userlist"></ul>
        <script>
            const search = function (curr) {
                while (ul.lastChild) ul.removeChild(ul.lastChild);
                Object.keys(users).forEach(function (i) {
                    const user = users[i];
                    if (user.toLowerCase().includes(curr)){
                        const item = document.createElement("li");
                        const link = document.createElement("a");
                        link.setAttribute("href", `/user/${i}`);
                        link.appendChild(document.createTextNode(user));
                        item.appendChild(link);
                        ul.appendChild(item);
                    }
                });
            };
            const ul = document.getElementById("userlist");
            document.getElementById("name").addEventListener("input", function () { search(this.value.toLowerCase()) });
            search("");
        </script>
    </div>
</body>
</html>