<tr id="row_{{.Image}}">
    <td>
        <div class="noimage" style="display: none">
            <input type="file" id="{{.Image}}" onchange="uploadImg({{.Image}})" style="display: none">
            <button type="button" onclick="document.getElementById({{.Image}}).click()">Feltöltés</button>
            <br>
            <progress id="prog_{{.Image}}" max="1" value="0"></progress>
        </div>
        <p class="unauth">A feltöltéshez jelentkezz be</p>
    </td>
</tr>