<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="icon"
          type="image/png"
          href="/favicon.png" />
    <meta name="theme-color" content="#282a36" />
    <title>Összes kép</title>
</head>
<body>
    <script>
        function imageZoom (id) {
            const img = document.getElementById(id);
            if (img.getAttribute("_zoomed") === "yes"){
                img.setAttribute("width", "300vw");
                img.setAttribute("_zoomed", "no");
            } else {
                img.removeAttribute("width");
                img.setAttribute("width", "1000vw");
                img.setAttribute("_zoomed", "yes");
            }
        }
    </script>
    <style>
        table{
            table-layout: fixed;
            border: 1px solid;
        }
        th, td{
            border: 1px solid;
        }
    </style>
    <h1>Összes kép</h1>
    <p>Kattints a képekre a nagyításhoz! 🔎</p>
    <table>
        {{.Table}}
    </table>
</body>
</html>