<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="icon"
          type="image/png"
          href="/favicon.png" />
    <meta name="theme-color" content="#282a36" />
    <title>Kép feltöltés - {{.Name}}</title>
    <script>
        window.onload = function () {
        const xhr = new XMLHttpRequest();
        const fd = new FormData();
        fd.append("Type", "Cookie");
        xhr.open("POST", window.location.pathname, true);
        const noimage = document.getElementsByClassName("noimage");
        const noauth = document.getElementsByClassName("unauth");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.response === "OK"){
                    Object.keys(noimage).forEach(function (i) {
                        noimage[i].style.display = "block"
                    });
                    Object.keys(noauth).forEach(function (i) {
                        noauth[i].style.display = "none"
                    });
                }
            }
        };
        xhr.send(fd);
        }
    </script>
</head>
<body>
    <script>
        function login() {
            const pics = document.getElementById("pics");
            const loginH = document.getElementById("login");
            pics.style.display = "none";
            loginH.style.display = "block";
            const passwdH = document.getElementById("passwd");
            document.getElementById("loginBtn").onclick = function () {
                _login(passwdH.value);
                loginH.style.display = "none";
                pics.style.display = "block";
            };
            loginH.onkeypress = function (e) {
                if (e.keyCode === 13){
                    _login(passwdH.value);
                    loginH.style.display = "none";
                    pics.style.display = "block";
                }
            };
        }
        function _login(pass) {
            const fd = new FormData();
            fd.append("Password", pass);
            const xhr = new XMLHttpRequest();
            let user = window.location.pathname.split("/");
            user = user[2];
            xhr.open("POST", `/login/${user}`, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4){
                    switch (xhr.response) {
                        case "OK":
                            location.reload();
                            break;
                        case "BADPASS":
                            alert("Rossz jelszó");
                            break;
                    }
                }
            };
            xhr.send(fd);
        }
        function delImg(id) {
            const fd = new FormData();
            fd.append("Type", "Delete");
            fd.append("File", id);

            const http = new XMLHttpRequest();
            http.open("POST", window.location.pathname, true);
            http.onreadystatechange = function () {
                if (http.readyState === 4) {
                    location.reload()
                }
            };
            http.send(fd);
        }
        function uploadImg(id) {
            const fd = new FormData();
            fd.append("Type", "Upload");
            fd.append("File", id);
            fd.append("Data", document.getElementById(id).files[0]);
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    location.reload(true)
                }
            };
            const prog = document.getElementById(`prog_${id}`);
            xhr.upload.addEventListener("progress", function (e) {
                prog.max = e.total;
                prog.value = e.loaded;
            });
            xhr.open("POST", window.location.pathname, true);
            xhr.send(fd)
        }
    </script>
    <h1>{{.Name}}</h1>
    <button id="loginStart" class="unauth" onclick="login()">Bejelentkezés</button>
    <div id="pics">
        <h2>Képek</h2>
        <script>
            function imageZoom (id) {
                const img = document.getElementById(id);
                if (img.getAttribute("_zoomed") === "yes"){
                    img.setAttribute("width", "300vw");
                    img.setAttribute("_zoomed", "no");
                } else {
                    img.setAttribute("width", "1000vw");
                    img.setAttribute("_zoomed", "yes");
                }
            }
        </script>
        {{.PicHtml}}
        {{.Extra}}
    </div>
    <div id="login" style="display: none">
        <h2>Bejelentkezés</h2>
        <input type="password" placeholder="Jelszó" id="passwd">
        <button id="loginBtn">Bejelentkezés</button>
    </div>
</body>
</html>